body{

    background: #52fbc4;
}
p{
    color: rgb(34, 34, 34);
}
header, .___pubs___, footer, h4{
    text-align: center;
}
div.pubs{
    width: 500px;
    margin: auto;
    background: #00ffff;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.527);

}
.contudo{
    margin-left: 5px;
    
}
.hora{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}
hr{
    width: 350px;
}